body{
    font-family:Arial,Helvetica,sans-serif;
}
#comments-container{
    width:600px;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    gap:5px;
}
.comment-container{
    border:1px solid #ccc;
    border-radius:5px;
    padding:10px;
    color:white;
    background-color:rgb(14, 51, 119)
}
.responses-container{
    margin-top:10px;
    padding-left:20px;
    display:flex;
    flex-direction:column;
    gap:5px;
}
.responses-container .comment-container{
    background-color:rgb(20, 70, 150);
    color:white;
}
.input{
    padding:5px 15px;
    border:1px solid #ccc;
    border-radius:15px;
    margin:5px 0;
}
button{
    border-radius:5px;
    border:none;
    background-color:#eee;
    padding:5px 15px;
    cursor:pointer;
    margin-right:5px;
}
button:hover{
    background-color:rgb(30, 83, 180);
    color:white;
}